html, body{
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', Arial, Helvetica, sans-serif;
}

#navbar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;

    opacity: 0;
    transform: translateY(-20px);
    transition: 0.3s ease; 

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    color: #77ccff;
    padding-left: 25px;
}

nav {
    padding-right: 20px;
    display: flex;
    gap: 20px;
    

}

nav button {
    color: white;
    font-size: 15px;
    font-family: 'Pixelify Sans', Arial, Arial, Helvetica, sans-serif;
    border-radius: 4px;
    font-weight: 20px;
    background: #F85525;
    outline: none;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease-in; 
    transition: color 0.2s ease-in;
}

nav button:hover {
    background: #77ccff;
    color: black;
}


#navbar.visible {
    opacity: 1;
    transform: translateY(0);
}

.hero {
    color: #F85525;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    position: relative;
    overflow: hidden;

    background: radial-gradient(circle at top, #333355, 0, #050510 45%, #000 100%);
    
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    
    background-image:
        radial-gradient(2px 2px at 10% 20%, #ffffff, transparent),
        radial-gradient(4px 1.5px at 20% 20%, #63cdb0, transparent),
        radial-gradient(1.5px 1.5px at 80% 10%, #ffffff, transparent),
        radial-gradient(5px 2px at 50% 30%, #63cdb0, transparent),
        radial-gradient(2px 2px at 45% 15%, #ffffff, transparent),
        radial-gradient(1.5px 1.5px at 90% 90%, #63cdb0, transparent),
        radial-gradient(2px 2px at 75% 60%, #ffffff, transparent),
        radial-gradient(1.5px 1.5px at 10% 80%, #ffffff, transparent),
        radial-gradient(2px 2px at 35% 75%, #ffffff, transparent),
        radial-gradient(2px 5px at 80% 70%, #63cdb0, transparent),
        radial-gradient(2px 5px at 40% 90%, #ffffff, transparent),
        radial-gradient(2px 3px at 85% 25%, #ffffff, transparent),
        radial-gradient(2px 2px at 25% 50%, #ffffff, transparent),
        radial-gradient(1.5px 1.5px at 60% 15%, #77ccff, transparent),
        radial-gradient(2px 2px at 40% 85%, #63cdb0, transparent),
        radial-gradient(1.5px 1.5px at 10% 60%, #ffffff, transparent);

    opacity: 0.8;

}

.typewriter {
    font-size: 40px;
    text-shadow: 0 0 10px #F85525, 0 0 30px #F85525, 0 0 30px #F85525;
}


.cursor {
    display: inline-block;
    margin-left: 4px;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {opacity: 0; }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #050510;
    
}

.content {
    display: flex;
    background: #333355;
    width: 50vw;
    height: 70vh;
    border-radius: 2%;
}

.intro-box {
    display: flex;
    width: 100%;
    height: 40%;
    background-color: #63cdb0;
    align-items: center;
    gap: 5rem;
    padding-left: 5rem;
}

.profile-pic {
    width: 20vw;
    max-width: 150px;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
    border: 8px solid #000;
    overflow: hidden;
    
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


